/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
input{
  border:none;
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.fa-user-circle-o{
  color: gray;
}
form.middle{
  margin: 10px auto;
  height: 50%;
  width: 35%;
  padding: 40px;
}
div.input-area{
  margin: auto;
  padding-top: 10px;
}
.app-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.hint-box{
  padding : 5px;
  text-align: right;
}
li{
  padding: 10px;
}
@import "./lib/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css";
@import "./lib/fontawesome/css/fontawesome.css";
