<div class="modal-header">
    <h4 class="modal-title text-center" id="modal-title">ایجاد بازی جدید یا پیوستن به بازی موجود؟</h4>
</div>
<div class="modal-body" id="modal-body">
<ul class="list-unstyled">
    <li ng-repeat="game in onlineGames"><a ng-click="joinGame(game)">بازی شماره  {{game.ID}}</a>

    </li>
</ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" ng-click="cancel()">انصراف</button>
    <button type="button" class="btn btn-primary" ng-click="createGame()">ایجاد بازی جدید</button>
</div>
